body{
  margin: 0;
  background-color: black;
  font-family: Helvetuc, sans-serif;

}
.blue {
  background: linear-gradient(229deg, #0047FF 0%, #00BCD4 100%);
  height: 5vh;
  font-size: 17px;
  font-weight: lighter;
  text-decoration: none;
  color: black;
}

  .Breakpoint{
    text-decoration: none;
    color: black;
  }


header{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav a{
  text-decoration: none;
  color: grey;
  font-size: 20px;
  margin: 10px;
}
.first {
  text-align: center;
  padding-top: 30px;
}
.first  h1 {
  margin-top: 22vh;
  color: white;
  font-weight: lighter;
  font-size: 70px;

}
.text2{
  margin-top: 6.5vh;
  color: white;
  font-size: 21px;
  font-weight: lighter;


}
.button_container{
margin-top: 5vh;
}
.Start_building{
  border-radius: 36px;
  border: 1px solid #000;
  background:  linear-gradient(152deg, #8C01FA 0%, #000 100%);
  color: white;
  width: 181px;
  height: 52px;
  flex-shrink: 0;
  transition: 1s;
  font-weight: lighter;


}
.Start_building:hover{
  transform: scale(1.2);
  transition: 1s;
  font-weight: lighter;

}
.Read_docs{
  border-radius: 36px;
  border: 1px solid #FFF;
  background: #000;
  color: white;
  width: 146px;
  height: 52px;
  transition: 1s;
  font-weight: lighter;

}
.Read_docs:hover{
  transform: scale(1.2);
  transition: 1s;
  font-weight: lighter;

}
.POWERING{
  color: #618ADC;
   margin-top: 14.5vh;
  font-size: 15px;
  font-weight: lighter;

}
.pictures{
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 10vw;
  margin-left: 10vw;
}
.section2{
  display: flex;
  justify-content: space-around;
  margin-top: 16vh;
}
.Join1{
  color: white;
  margin-top: 9vh;
  font-size: 38px;
  font-weight: lighter;

}
.hh1 {
  background: linear-gradient(228deg, #19FB9B 0%, #8C01FA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: lighter;
  font-size: 101px;
  margin: 0;

}
.Active{
  color: #C4C4C4;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 6vh;
  font-weight: lighter;

}
.hh2{
  background: linear-gradient(229deg, #0047FF 0%, #00BCD4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: lighter;
  font-size: 101px;
  margin: 0;
}
.NFT{
  color: #C4C4C4;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 6vh;
  font-weight: lighter;

}
.hh3{
  background: linear-gradient(222deg, #00FFBD 0%, #025B8C 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: lighter;
  font-size: 101px;
  margin: 0;
}
.Average{
  color: #C4C4C4;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 6vh;
  font-weight: lighter;

}

.section3 {
  display: flex;
  justify-content: space-around;
  margin-top: 16vh;
  margin-left: 5vw;
  margin-right: 6vw;
  font-weight: lighter;

}
.Made{
  color: white;
  margin-top: 15vh;
  font-size: 38px;
  font-weight: lighter;
}
.Live{
  color: #C4C4C4;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 6vh;
  font-weight: lighter;
  font-family: Helvetuc, sans-serif;

}
.Fast{
  color: white;
  margin-top: 18vh;
  font-size: 28px;
  font-weight: lighter;
}
.Don’t{
  color: #C4C4C4;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 3vh;
  font-weight: lighter;
  font-family: Helvetuc, sans-serif;

}
.h3969{
  color: white;
  margin-top: 2vh;
  font-size: 28px;
  font-weight: lighter;

}
.Transactions{
  color: #C4C4C4;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 6vh;
  font-weight: lighter;
  font-family: Helvetuc, sans-serif;

}
.Scalable{
  color: white;
  margin-top: 9vh;
  font-size: 28px;
  font-weight: lighter;
}
.Getbig{
  color: #C4C4C4;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 3vh;
  font-weight: lighter;
  font-family: Helvetuc, sans-serif;
}
.h163{
  color: white;
  margin-top: 2vh;
  font-size: 28px;
  font-weight: lighter;
}
.Total{
  color: #C4C4C4;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 6vh;
  font-weight: lighter;
  font-family: Helvetuc, sans-serif;
}
.Decentralized{
  color: white;
  margin-top: 9vh;
  font-size: 28px;
  font-weight: lighter;

}
.Thesolana{
  color: #C4C4C4;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 2vh;
  font-weight: lighter;
  font-family: Helvetuc, sans-serif;
}
.h1675{
  color: white;
  margin-top: 3vh;
  font-size: 28px;
  font-weight: lighter;
}
.Validator{
  color: #C4C4C4;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 6vh;
  font-weight: lighter;
  font-family: Helvetuc, sans-serif;
}
.Energy{
  color: white;
  margin-top: 9vh;
  font-size: 28px;
  font-weight: lighter;
}
.Solana’sproof{
  color: #C4C4C4;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 2vh;
  font-weight: lighter;
  font-family: Helvetuc, sans-serif;

}

.environment{
  color: #19FB9B;
  font-size: 16px;
  text-decoration-line: underline;
  font-weight: lighter;

}
.h0{
  color: white;
  margin-top: 4vh;
  font-size: 28px;
  font-weight: lighter;
}
.Netcarbon{
  color: #C4C4C4;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 6vh;
  font-weight: lighter;
  font-family: Helvetuc, sans-serif;
}
.build{
  margin-top: 15vh;
  font-weight: lighter;

}
.buildfor{
  color: white;
  font-size: 38px;
  font-weight: lighter;
}
.NFTs{
  width: 64px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #A962FF;
  background: rgba(255, 255, 255, 0.09);
  font-size: 15px;
  color: white;
  text-decoration: none;
  font-weight: lighter;
  padding: 10px;
}
.DEFI{
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.09);
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  padding: 10px;
}
.DEFI, .NFTs{
  margin-left: 0.8vw;
}
.section4{
  margin-top: 4vh;
  display: flex;
  justify-content: center;
}
.IMAGE{
  margin-right: 0;
}
.Anybodies{
  justify-content: center;
  border-start-end-radius: 12px;
  border-end-end-radius: 12px;
 padding: 135px;
  background: rgba(255, 255, 255, 0.09);
  margin-left: 0;
}
.Its{
  display: flex;
  margin-left: 10px;
  padding-left: 100px;
}
.It’s_time{
  font-size: 20px;
  color: white;
  font-weight: lighter;
  margin-left: 10px;


}
.Learn{
  color: #A962FF;
font-size: 20px;
  font-weight: lighter;

}
.imgs{
  background: rgba(255, 255, 255, 0.05);
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
  margin-right: 8.5vw;
  margin-left: 8.5vw;
  border-radius: 12px;
}
.section5{
  margin-top: 15vh;
}
.Join{
  color: #FFF;
  font-size: 38px;
  font-weight: lighter;
  margin-left: 8vw;
}
.gap{
  display: grid;
  grid-template-areas:
  "gap1 gap3 gap3 gap4 gap6 gap7"
  "gap2 gap3 gap3  gap5 gap6 gap8";
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 2fr;
  grid-gap: 10px;
  margin-left: 4px;
  margin-right: 4px;
}
.gap1{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: gap1;
  background: rgba(255, 255, 255, 0.09);

}
.h11{
  color: #F087FF;
  font-size: 37px;
  margin-top: 6vh;
  margin-bottom: 0;
  font-weight: lighter;

}
.solanahacker{
  font-size: 12px;
  color: #BABABA;
  font-weight: lighter;


}
.gap2{
  grid-area: gap2;

}
.gap3{
  grid-area: gap3;
  width: 23vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12vh;
}
.gap4{
  grid-area: gap4;
}
.gap5{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: gap5;
  background: rgba(255, 255, 255, 0.09);
  padding: 16px;
  height: 21vh;
}
.h48{
  color: #19FB9B;
  font-size: 37px;
  font-weight: lighter;
  margin-bottom: 0;
}
.developers{
  font-size: 12px;
  color: #BABABA;
  font-weight: lighter;


}
.gap6{
  grid-area: gap6;
}
.gap7{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: gap7;
  background: rgba(255, 255, 255, 0.09);

}
.h38{
  color: #FFEB3B;
  font-size: 37px;
  margin-bottom: 0;
  font-weight: lighter;
  margin-top: 7vh;

}
.solanabreakpoint{
  font-size: 12px;
  font-weight: lighter;
  color: #BABABA;
}
.gap8{
  grid-area: gap8;
}

.section6{
  margin-top: -15vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.htime{
  color: white;
  font-size: 37px;
  margin-bottom: 0;
  font-weight: lighter;
}
.button3{
  margin-top: 3vh;
}

.footer{
  display: flex;
  justify-content: space-around;
  margin-top: 24vh;
  color: white;
  font-weight: lighter;
 font-size: 16px;
}
.p2023{
  color: #848895;
}

.youtube, .tviter,.discord, .cat, .telegram,.robot{
  background: #848895;
  width: 26px;
  height: 16px;
  margin-right: 6px;
}
.footer1{
  margin-right: -5vw;

}
.footer2{
  margin-right: -18vw;

}
.footer3{
  margin-right: -18vw;

}
.language{
  display: flex;
  font-size: 15px;
}
.earth{
  width: 19px;
  height: 20px;
  margin-top: 1.6vh;
  margin-right: 0.5vw;

}
.Grants,.Break_Solana,.Media_Kit,.Careers,.Disclaimer,.Ecosystem,.Blog,.Newsletter,.language{
  color: #848895;
}
